<!-- -->
<ion-header class="header-header">

  
  
  <div [routerLink]="['/login']">
    <ion-icon name="person"></ion-icon>
    <ion-label class="label-header" >Login</ion-label>
  </div>
    |
    <div [routerLink]="['/signup']" >
      <ion-icon name="pencil"></ion-icon>
      <ion-label >Cadastro</ion-label>
    </div>
    
  
  </ion-header>
  
  <ion-header class="header">
    
    
      <ion-img  [routerLink]="['/onboarding']"  style="max-width: 10%;" src="../../../assets/images-coopeere/coopere.png"></ion-img>
    
  
    
    <ion-button fill="clear" style="color: #7B9A6E; font-weight: bold; font-size: 15px;" [routerLink]="['/onboarding']">Home</ion-button>
    
    <div class="dropdown">
      <a [routerLink]="['/onboarding']"  style="color: #000000; font-weight: bold; font-size: 15px; text-decoration: none; ">A COOPEERE </a>
      <div class="dropdown-content" >

        <a [routerLink]="['/quemsomos']" class="dropdown-item">Quem Somos?</a>
        <a [routerLink]="['/objetivos']" class="dropdown-item">Objetivo</a>
        <a [routerLink]="['/equipe']" class="dropdown-item">A Equipe</a>
      </div>
    </div>
    
    <ion-button fill="clear" style="color: #000000;font-weight: bold; font-size: 15px; " [routerLink]="['/estatuto']">Estatuto</ion-button>
    <ion-button fill="clear" style="color: #000000; font-weight: bold; font-size: 15px;" [routerLink]="['/legislacao']">Legislação</ion-button>
    <ion-button fill="clear" style="color: #000000; font-weight: bold; font-size: 15px; " [routerLink]="['/vantagens']">Vantagens</ion-button>
    <ion-button fill="clear" style="color: #000000;font-weight: bold; font-size: 15px; " [routerLink]="['/parceiros']">Parceiros</ion-button>
    <ion-button fill="clear" style="color: #000000;font-weight: bold; font-size: 15px;" [routerLink]="['/faleconosco']">Fale Conosco</ion-button>
  
  </ion-header>
  
  
  <ion-content>

<ion-slides style="margin-bottom: 0;" pager="true" [options]="slideOpts">

  <ion-slide>
    <img style=" width: 100%; height: 900px;" src="../../../assets/images-coopeere/coopeereslide2.png" >
  
    <h1 class="text-slider-c" style="transform: translate(-57%, 50%); ">Coopere você também<br>torne-se um cooperado</h1>
    <button style="transform: translate(-120%, 50%); " [routerLink]="['/signup']">CADASTRE-SE</button>  
  </ion-slide>

  <ion-slide style="height: 900px;">
    <img style=" width: 100%; background-size: contain;" src="../../../assets/images-coopeere/coopeereslide1.png">

    <h1 style="transform: translate(-57%, 50%);  ">O que a sociedade espera <br> dos nossos governantes?</h1>
    <button [routerLink]="['/signup']"style="transform: translate(-120%, 60%); ">CADASTRE-SE</button>
  </ion-slide>

  <ion-slide>
    <img style=" height: 900px; width: auto; background-size: auto;margin:auto; background-size: contain" src="../../../assets/images-coopeere/coopeereslide2.png">
  
    <h1 style="transform: translate(-57%, 50%); ">O que nossos jovens <br> esperam do futuro?</h1>
    <button [routerLink]="['/signup']" style="transform: translate(-120%, 60%); ">CADASTRE-SE</button>  
  </ion-slide>

 


  <ion-slide>
    <img style="height: 900px;  width: 100%;  background-size: cover" src="../../../assets/images-coopeere/coopeere-offshore.jpg">
   
    <h1 style="transform: translate(-57%, 0%); ">Quantos milhares de <br> empregos poderão ser <br>criados?</h1>
    <button style="transform: translate(-120%, 60%); " [routerLink]="['/signup']">CADASTRE-SE</button>  
  </ion-slide>

  </ion-slides>



<div class="footer-footer">

  <h1 style="height: 100px; margin-top: 0; width: 30%; padding-left: 400px; background-color: #D8E0D5; display:flex; float: left; text-align: end;font-weight:100;color: black">Apoio:</h1>

  <ion-slides style=" height: 100px; background-color: #D8E0D5; padding-top: 20px; padding-bottom: 20px; width: 50%; display:inline-block;"   [options]="slideOpts2" >
  
    <ion-slide>
      <img style="width: 50%" src="../../../assets/img/cooopeerre.png">      
    </ion-slide>
  
    <ion-slide>
      <img style="width: 50%" src="../../../assets/img/forcasindical.png">
    </ion-slide>
    
    <ion-slide>
      <img style="width: 50%" src="../../../assets/img/fotonsolucoes.png">
    </ion-slide>
  
    <ion-slide>
      <img style="width: 50%" src="../../../assets/img/cktm.png">
    </ion-slide>

    <ion-slide>
      <img style="width: 50%" src="../../../assets/img/cooopeerre.png">      
    </ion-slide>

    <ion-slide>

      <img style="width: 50%" src="../../../assets/img/primesol.jpg">
    </ion-slide>
  
    <ion-slide>
      <img style="width: 50%" src="../../../assets/img/redeaurora.jpeg">
    </ion-slide>
  
    <ion-slide>
      <img style="width: 50%" src="../../../assets/img/wipdev.jpg">
    </ion-slide>

    <ion-slide>
      <img style="width: 50%" src="../../../assets/img/fitmmrj.png">
    </ion-slide>
  

  </ion-slides>
  <div class="apoio" style=" height: 100px; width: 20%; background-color: #D8E0D5; display:inline-block;"></div>
</div>

</ion-content>




  <ion-footer class="footer"> 
  
    <div class="menu-footer" style="font-size: 14px; margin-top: 5px; margin-bottom: 5px; display: flex; ">
      <ion-label [routerLink]="['/eventos']">EVENTOS</ion-label>
      <ion-label [routerLink]="['/publicacoes']" style="margin-left: 20px;">PUBLICAÇÕES</ion-label>
      <ion-label [routerLink]="['/agenda']" style="margin-left: 20px;">AGENDA</ion-label>
      <ion-label [routerLink]="['/galeria']" style="margin-left: 20px;" >GALERIA DE FOTOS</ion-label>
      <ion-label [routerLink]="['/faleconosco']" style="margin-left: 20px;">FALE CONOSCO</ion-label>
    </div>
  
    <div class="social-media-icons">


    
      <ion-label (click)="openExternalLinkFacebook()"> <strong><ion-img style="width: 20px; height: 20px; margin:2px;"src="https://www.novaconcursos.com.br/portal/wp-content/uploads/2020/01/facebook-logo-redondo.png"
        title="logo-coopere-final" alt="logo-coopere-final"></ion-img></strong></ion-label>
      <ion-label (click)="openExternalLinkInstagram()"> <strong><ion-img style="width: 20px;" src="https://www.novaconcursos.com.br/portal/wp-content/uploads/2020/01/facebook-logo-redondo.png"
        title="logo-coopere-final" alt="logo-coopere-final"></ion-img></strong></ion-label>
      <ion-label (click)="openExternalLinkYouTube()"> <strong><ion-img style="width: 20px; margin-right: 400px;" src="https://www.novaconcursos.com.br/portal/wp-content/uploads/2020/01/facebook-logo-redondo.png"></ion-img></strong></ion-label>
    </div>
    
    
  </ion-footer>