//css novo
ion-header {
    display: flex;
    -ms-flex-order: 0;
    order: 0;
    width: 100%;
    z-index: 0;
    align-self: center;
    padding-left: 5px;


}

.header-header {
    //border: burlywood 5px solid;
    background-color: #2b571a;
    display: flex;
    justify-content: flex-end;
    padding-right: 390px;
    padding-top: 5px;
    padding-bottom: 10px;

    color: #FFFFFF;
    align-self: center;
    padding-left: 5px;
    font-size: 12px;
    text-transform: uppercase;
}

.header {
    //border: darkblue 5px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: white;

    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;

    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 9px 0px 0px 0px;
    z-index: 10;


    &::after {
        display: none;
    }

    .dropdown {}

    .dropdown-content {
        min-width: 133px;

    }

    .dropdown-item {
        display: block;
        height: 50px;
        padding: 20px;
        transition: .4s;

        &::before {
            content: none;
        }

        &:hover {
            color: white;
            background-color: #7B9A6E;
            border: none;
        }
    }

    .arrowicon {}

    a {
        text-decoration: none;
        margin: 0;
        padding: 0;
        margin: 20px;
        display: inline-block;
    }

    ion-button {
        cursor: pointer;
        border-bottom: solid 5px green;
        color: #2b571a;
    }




    ion-button,
    a {

        cursor: pointer;
        display: block;
        margin: 0;
        position: relative;
        color: #333;
        white-space: nowrap;
        font-size: 14px;
        font-family: "Open Sans", Sans-serif;
        font-weight: 500;
        padding: 40px 5px;
        border-bottom: 5px solid transparent;
        height: 112px;
        transition: .4s;

        &:hover {
            color: #7B9A6E;

        }

        &::before {
            content: '';
            position: absolute;
            bottom: 0px;
            width: 0;
            right: 0;
            height: 5px;
            background: #2B571A;
            transition: width .2s;

        }

        &:hover::before {
            width: 100%;
        }
    }

    .active-link:before {

        width: 100%;
        color: #7B9A6E;

    }

    .search {
        font-size: 25px;
        color: #2B571A;
        cursor: pointer;

    }

    .arrowicon {
        position: relative;
        top: 5px;
    }
}




h3,
h2,
p,
li,
ul {
    color: black;
    font-style: none;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h1 {
    color: #020101BA;
    font-size: 30px;
    font-weight: 300px;
    font-family: "Open Sans", Sans-serif;
}


//.label-header {
//    padding-right: 10px;
//    padding-left: 40px;
//}
// NÃO MAIS NECESSARIO POR CAUSA DO 
//     justify-content: center




ion-content {
    //border: orchid 5px solid;
    --ion-background-color: white;
    display: flex;
}

.text-container {
    //border: brown 10px solid;
    line-height: 5.0;
    font-family: "Open Sans", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8em;
    
    font-weight: 300;

}

.text-container {
    //border: purple 5px solid;
    width: 50%;
    float: left;
    padding-top: 80px;
    padding-left: 350px;
    padding-bottom: 0px;
    margin-top: 0px;
}


.aside {
    //border: red 5px solid;
    margin-top: 0px;
    //margin-right: 1px;
    width: 50%;
    float: right;
    //padding-top: 100px;
    margin-top: 100px;
    //padding: 13px 20px;

}

.aside li {
    //border: #750000 5px solid;
    margin-top: 1px;
    margin-left: 200px;
    font-size: 100%;
    list-style: none;
    color: black;
    margin-right: 500px;


    a {
        text-decoration: none;
        margin: 0;
        padding: 0;
        margin: 20px;
        display: inline-block;
    }

    ion-button,
    a {

        cursor: pointer;
        display: block;
        margin: 0;
        position: relative;
        color: #333;
        white-space: nowrap;
        font-size: 14px;
        font-family: "Open Sans", Sans-serif;
        font-weight: 500;
        padding: 40px 5px 40px 5px;
        border-bottom: 5px solid transparent;
        height: 112px;
        transition: .4s;

        &:hover {
            color: #7B9A6E;

        }

        &::before {
            content: '';
            position: absolute;
            bottom: 30px;
            width: 0px;
            right: 0px;
            height: 5px;
            background: #7B9A6E;
            transition: width .2s;

        }

        &:hover::before {
            width: 100%;
        }
    }

    .active-link:before {

        width: 100%;
        color: #7B9A6E;

    }

    .search {
        font-size: 25px;
        color: #2B571A;
        cursor: pointer;

    }

    .arrowicon {
        position: relative;
        top: 5px;
    }
}

.lista-dropdown {
    border-radius: 20px;
    padding-right: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}  
/*
//css antigo 
ion-content {
    --ion-background-color: white;
    display: flex;
    flex: 200px;
}

h1,
h2,
h3,
p,
li,
ul {
    color: black;
}

.header-header {
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: green;
}

.label-header {
    padding-right: 10px;
    padding-left: 10px;
}

.header {
    padding: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;

}

.text-container p {
    line-height: 2.0;
}

.text-container {
    display: inline-block;
    width: 50%;
    padding-left: 100px;
}


.aside li {
    list-style: none;
    color: black;
}

.lista-dropdown {
    border-radius: 20px;
    padding-right: 10px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}
*/
/*
//css antigo professor
.carousel {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}

.slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide:first-child {
    display: block;
}


ion-slide {
   position: relative;
}

ion-slide h1, ion-slide p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: flex-start;
    font-size: 80px;
    width: 50%;
}

ion-slide button {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 30px;
    width: 250px;
    margin-top: 200px;
    padding: 15px;
    border-radius: 50px;
    background-color: green;
}


.container {
    background-image: url("https://media.gazetadopovo.com.br/2019/06/08112107/energia-eolica-660x372.jpg");
    background-size: cover;
}
.header-header {
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: green;
}

.label-header {
    padding-right: 10px;
    padding-left: 10px;
}

.header {
    padding: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.lista-dropdown{
    border-radius: 20px;
    padding-right: 10px;
}

.welcome {
    padding-top: 30px;
    font-size: 35px;
    font-weight: bold;
    
}

.welcome-div {
    padding-top: 30px ;
}

.logo {
    align-items: center;
    justify-content: center;
    display: flex;
  
    margin: auto;
}

.container-form {
    
    max-width: 500px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px;
    margin: auto;
    flex-direction: column;
    border-radius: 20px;

}

ion-input {

    
    border-radius: 10px;
    min-width: 300px;
    max-width: 400px;
}

.inputs {
    padding: 10px;
}

.input-labels {
    padding: 10px;
}

.input-label-text {
    font-weight: bold;
    font-size: 17px;
}

.menu-footer {
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: flex-start;   
    margin: auto;
}

.social-media-icons{
    gap: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer {
   align-items: flex-end;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: green;
}

.select-text {
    &:hover {
      opacity: 0.75;
      cursor: pointer;
    }
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-item {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
  }

  .dropdown-item:hover {
    background-color: #f1f1f1;
  }

  .text-container p {
    line-height: 2.0;
  }

  .text-container {
    margin-left: 10%;
    max-width: 60%;
  }
  */