<ion-header class="header-header">

  <div [routerLink]="['/login']">
    <ion-icon name="person"></ion-icon>
    <ion-label class="label-header">Login</ion-label>
  </div>
  |
  <div style="padding-left: 15px;" [routerLink]="['/signup']">
    <ion-icon name="pencil"></ion-icon>
    <ion-label>Cadastro</ion-label>
  </div>


</ion-header>

<ion-header class="header">


  <ion-img style="max-width: 10%;" src="../../../assets/images/coopere.png"></ion-img>



  <ion-button fill="clear" [routerLink]="['/onboarding']">Home</ion-button>

  <div class="dropdown">
    <a href="#">A COOPEERE</a>
    <div class="dropdown-content">
      <a [routerLink]="['/quemsomos']" class="dropdown-item">Quem Somos?</a>
      <a [routerLink]="['/objetivos']" class="dropdown-item">Objetivo</a>
      <a [routerLink]="['/equipe']" class="dropdown-item">A Equipe</a>
    </div>
  </div> 
  <ion-button fill="clear" [routerLink]="['/estatuto']">Estatuto</ion-button>
  <ion-button fill="clear" [routerLink]="['/legislacao']">Legislação</ion-button>
  <ion-button fill="clear" [routerLink]="['/vantagens']">Vantagens</ion-button>
  <ion-button fill="clear" [routerLink]="['/parceiros']">Parceiros</ion-button>
  <ion-button fill="clear" [routerLink]="['/faleconosco']">Fale Conosco</ion-button>

</ion-header>

<ion-content>
  <ion-row>
    <ion-grid style="--ion-grid-columns: 2;">
      <ion-col>
        <!--<div class="text-container" style="margin-top: 200px;  display: inline-block; width: 50%;">-->
        <div class="text-container">

          <h1>Legislação</h1>

          <p><strong>A COOPEERE</strong> selecionou algumas das mais importantes Leis, Decretos e Resoluções da ANEEL
            que afetam direta e indiretamente o desenvolvimento da Energia Solar e Eólica no Brasil, bem como as Leis e
            Resoluções que beneficiam as cooperativas de geração de energia. A base de pesquisa utilizada são as
            próprias fontes da ANEEL e SENADO FEDERAL onde disponibilizamos um link para pesquisa direta ao banco de
            dados do Senado Federal e também da ANEEL para pesquisas nas Leis, Decretos e Resoluções em vigor.</p>
          <p><strong>LEI Nº 5.764, DE 16 DE DEZEMBRO DE 1971</strong>. Define a Política Nacional de Cooperativismo,
            institui o regime jurídico das sociedades cooperativas, e dá outras providências.<br />
            <strong>Fonte:</strong> <a href="http://www.planalto.gov.br/ccivil_03/LEIS/L5764.htm" target="_blank"
              rel="noopener">http://www.planalto.gov.br/ccivil_03/LEIS/L5764.htm</a>
          </p>
          <p><strong>PLS 484/2017 – Senado Federal.</strong> Dispõe sobre a ampliação das atribuições institucionais
            relacionadas à Política Energética Nacional com o objetivo de promover o desenvolvimento da geração de
            energia elétrica localizada no mar territorial e zona econômica exclusiva a partir de fonte eólica; e dá
            outras providências.<br />
            <strong>Fonte:</strong> <a href="https://www25.senado.leg.br/web/atividade/materias/-/materia/131829"
              target="_blank" rel="noopener">https://www25.senado.leg.br/web/atividade/materias/-/materia/131829</a>
          </p>
          <p><strong>RESOLUÇÃO NORMATIVA Nº 830, DE 23 DE OUTUBRO DE 2018.</strong> Altera os Procedimentos do Programa
            de Eficiência Energética – PROPEE, aprovado pela Resolução Normativa nº 556, de 02 de julho de 2013, e
            aprova a revisão do Submódulo 5.6: Pesquisa e Desenvolvimento – P&amp;D e Eficiência Energética – EE dos
            Procedimentos de Regulação Tarifária – PRORET, aprovado pela Resolução Normativa nº 737, de 27 de setembro
            de 2016.<br />
            <strong>Fonte:</strong> <a href="http://www2.aneel.gov.br/cedoc/ren2018830.pdf" target="_blank"
              rel="noopener">http://www2.aneel.gov.br/cedoc/ren2018830.pdf</a>
          </p>
          <p><strong>RESOLUÇÃO NORMATIVA Nº 687, DE 24 DE NOVEMBRO DE 2015.</strong> Altera a Resolução Normativa nº
            482, de 17 de abril de 2012, e os Módulos 1 e 3 dos Procedimentos de Distribuição – PRODIST.<br />
            <strong>Fonte:</strong> <a href="http://www2.aneel.gov.br/cedoc/ren2015687.pdf" target="_blank"
              rel="noopener">http://www2.aneel.gov.br/cedoc/ren2015687.pdf</a>
          </p>
          <p><strong>Procedimentos de Distribuição de Energia Elétrica no Sistema Elétrico Nacional –</strong>
            <strong>PRODIST</strong>. Formulário da página 73 de 74 consta no site <a
              href="https://www.coopeere.eco.br">www.coopeere.eco.br</a> para ser preenchido pelos cooperados.
            Estabelecer as condições de acesso, compreendendo a conexão e o uso, ao sistema de distribuição, não
            abrangendo as Demais Instalações de Transmissão – DIT, e definir os critérios técnicos e operacionais, os
            requisitos de projeto, as informações, os dados e a implementação da conexão, aplicando-se aos novos
            acessantes bem como aos existentes.<br />
            <strong>Fonte:</strong> <a
              href="http://www.aneel.gov.br/documents/656827/14866914/PRODIST-M%C3%B3dulo3_Revis%C3%A3o7/"
              target="_blank"
              rel="noopener">http://www.aneel.gov.br/documents/656827/14866914/PRODIST-M%C3%B3dulo3_Revis%C3%A3o7/</a>
          </p>
          <p><strong>RESOLUÇÃO NORMATIVA Nº 556, DE 18 DE JUNHO DE 2013.</strong> “…é obrigatória a aplicação de
            recursos, pelas concessionárias ou permissionárias do serviço público de distribuição de energia elétrica,
            em Programas de Eficiência Energética, de acordo com o regulamento estabelecido pela ANEEL; Art. 3º A
            concessionária ou permissionária de distribuição de energia elétrica deverá enviar, pelo Sistema de Gestão
            de Eficiência Energética, os relatórios final, de medição e verificação e de auditoria contábil e financeira
            do projeto de Eficiência Energética para avaliação final da ANEEL, para fins de reconhecimento do
            investimento realizado.”<br />
            <strong>Fonte:</strong> <a href="http://www.aneel.gov.br/" target="_blank"
              rel="noopener">http://www.aneel.gov.br/</a>
          </p>
          <p><strong>LEI Nº 13.169, DE 6 DE OUTUBRO DE 2015.</strong> Art. 8º Ficam reduzidas a zero as alíquotas da
            Contribuição para o PIS/Pasep e da Contribuição para Financiamento da Seguridade Social – COFINS incidentes
            sobre a energia elétrica ativa fornecida pela distribuidora à unidade consumidora, na quantidade
            correspondente à soma da energia elétrica ativa injetada na rede de distribuição pela mesma unidade
            consumidora com os créditos de energia ativa originados na própria unidade consumidora no mesmo mês, em
            meses anteriores ou em outra unidade consumidora do mesmo titular, nos termos do Sistema de Compensação de
            Energia Elétrica para microgeração e minigeração distribuída, conforme regulamentação da Agência Nacional de
            Energia Elétrica – ANEEL.<br />
            <strong>Fonte:</strong> <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2015/lei/l13169.htm"
              target="_blank" rel="noopener">http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2015/lei/l13169.htm</a>
          </p>
          <p><strong>RESOLUÇÃO NORMATIVA Nº 517, DE 11 DE DEZEMBRO DE 2012.</strong> Altera a Resolução Normativa nº
            482, de 17 de abril de 2012, e o Módulo 3 dos Procedimentos de Distribuição – PRODIST.<br />
            <strong>Fonte:</strong> <a href="http://www2.aneel.gov.br/cedoc/ren2012517.pdf" target="_blank"
              rel="noopener">http://www2.aneel.gov.br/cedoc/ren2012517.pdf</a>
          </p>
          <p><strong>RESOLUÇÃO NORMATIVA Nº 482, DE 17 DE ABRIL DE 2012.</strong> Estabelece as condições gerais para o
            acesso de microgeração e minigeração distribuída aos sistemas de distribuição de energia elétrica, o sistema
            de compensação de energia elétrica, e dá outras providências.<br />
            <strong>Fonte:</strong> <a href="http://www2.aneel.gov.br/cedoc/ren2012482.pdf" target="_blank"
              rel="noopener">http://www2.aneel.gov.br/cedoc/ren2012482.pdf</a>
          </p>
          <p><strong>RESOLUÇÃO NORMATIVA Nº 481, DE 17 DE ABRIL DE 2012.</strong> Altera a Resolução Normativa nº 77, de
            18 de agosto de 2004.<br />
            <strong>Fonte:</strong> <a href="http://www2.aneel.gov.br/cedoc/ren2012481.pdf" target="_blank"
              rel="noopener">http://www2.aneel.gov.br/cedoc/ren2012481.pdf</a>
          </p>
          <p><strong>RESOLUÇÃO NORMATIVA Nº 414, DE 9 DE SETEMBRO DE 2010.</strong> Estabelece as Condições Gerais de
            Fornecimento de Energia Elétrica de forma atualizada e consolidada.<br />
            <strong>Fonte:</strong> <a href="http://www2.aneel.gov.br/cedoc/ren2010414.pdf" target="_blank"
              rel="noopener">http://www2.aneel.gov.br/cedoc/ren2010414.pdf</a>
          </p>
          <p><strong>RESOLUÇÃO NORMATIVA N° 77, DE 18 DE AGOSTO DE 2004.</strong> Estabelece os procedimentos vinculados
            à redução das tarifas de uso dos sistemas elétricos de transmissão e de distribuição, para empreendimentos
            hidrelétricos e aqueles com base em fonte solar, eólica, biomassa ou cogeração qualificada.<br />
            <strong>Fonte:</strong> <a href="http://www2.aneel.gov.br/cedoc/ren2004077.pdf" target="_blank"
              rel="noopener">http://www2.aneel.gov.br/cedoc/ren2004077.pdf</a>
          </p>
          <p><strong>Projeto de Lei n° 5239, de 2020.</strong> Ementa: Altera o art. 4º da Lei nº 4.595, de 31 de
            dezembro de 1964, a fim de oferecer linhas de crédito para aquisição de equipamentos de energia fotovoltaica
            e eólica, com baixos juros, a famílias menos favorecidas.<br />
            <strong>Fonte:</strong> <a
              href="https://www12.senado.leg.br/noticias/materias/2020/11/26/projeto-facilita-compra-de-equipamentos-de-energia-solar-ou-eolica-para-familias-de-baixa-renda"
              target="_blank"
              rel="noopener">https://www12.senado.leg.br/noticias/materias/2020/11/26/projeto-facilita-compra-de-equipamentos-de-energia-solar-ou-eolica-para-familias-de-baixa-renda</a>
          </p>
          <p><strong>LEI Nº 10.848, DE 15 DE MARÇO DE 2004.</strong> Dispõe sobre a comercialização de energia elétrica,
            altera as Leis nºs 5.655, de 20 de maio de 1971, 8.631, de 4 de março de 1993, 9.074, de 7 de julho de 1995,
            9.427, de 26 de dezembro de 1996, 9.478, de 6 de agosto de 1997, 9.648, de 27 de maio de 1998, 9.991, de 24
            de julho de 2000, 10.438, de 26 de abril de 2002, e dá outras providências.<br />
            <strong>Fonte:</strong> <a href="http://www.planalto.gov.br/ccivil_03/_ato2004-2006/2004/lei/l10.848.htm"
              target="_blank" rel="noopener">http://www.planalto.gov.br/ccivil_03/_ato2004-2006/2004/lei/l10.848.htm</a>
          </p>
          <p><strong>LEI Nº 10.762, DE 11 DE NOVEMBRO DE 2003.</strong> Dispõe sobre a criação do Programa Emergencial e
            Excepcional de Apoio às Concessionárias de Serviços Públicos de Distribuição de Energia Elétrica, altera as
            Leis nos 8.631, de 4 de março de 1993, 9.427, de 26 de dezembro de 1996, 10.438, de 26 de abril de 2002, e
            dá outras providências.<br />
            <strong>Fonte:</strong> <a href="http://www.planalto.gov.br/ccivil_03/leis/2003/l10.762.htm" target="_blank"
              rel="noopener">http://www.planalto.gov.br/ccivil_03/leis/2003/l10.762.htm</a>
          </p>
          <p><strong>LEI Nº 10.438, DE 26 DE ABRIL DE 2002.</strong> Dispõe sobre a expansão da oferta de energia
            elétrica emergencial, recomposição tarifária extraordinária, cria o Programa de Incentivo às Fontes
            Alternativas de Energia Elétrica (Proinfa), a Conta de Desenvolvimento Energético (CDE), dispõe sobre a
            universalização do serviço público de energia elétrica, dá nova redação às Leis no 9.427, de 26 de dezembro
            de 1996, no 9.648, de 27 de maio de 1998, no 3.890-A, de 25 de abril de 1961, no 5.655, de 20 de maio de
            1971, no 5.899, de 5 de julho de 1973, no 9.991, de 24 de julho de 2000, e dá outras providências.<br />
            <strong>Fonte:</strong> <a href="http://www.planalto.gov.br/ccivil_03/leis/2002/l10438.htm" target="_blank"
              rel="noopener">http://www.planalto.gov.br/ccivil_03/leis/2002/l10438.htm</a>
          </p>
          <p><strong>LEI Nº 9.991, DE 24 DE JULHO DE 2000.</strong> Dispõe sobre realização de investimentos em pesquisa
            e desenvolvimento e em eficiência energética por parte das empresas concessionárias, permissionárias e
            autorizadas do setor de energia elétrica, e dá outras providências.<br />
            <strong>Fonte:</strong> <a href="http://www.planalto.gov.br/ccivil_03/leis/l9991.htm" target="_blank"
              rel="noopener">http://www.planalto.gov.br/ccivil_03/leis/l9991.htm</a>
          </p>
          <p><strong>LEI Nº 9.648, DE 27 DE MAIO DE 1998.</strong> Altera dispositivos das Leis no 3.890-A, de 25 de
            abril de 1961, no 8.666, de 21 de junho de 1993, no 8.987, de 13 de fevereiro de 1995, no 9.074, de 7 de
            julho de 1995, no 9.427, de 26 de dezembro de 1996, e autoriza o Poder Executivo a promover a reestruturação
            da Centrais Elétricas Brasileiras – ELETROBRÁS e de suas subsidiárias e dá outras providências.<br />
            <strong>Fonte:</strong> <a href="http://www.planalto.gov.br/ccivil_03/leis/l9648cons.htm" target="_blank"
              rel="noopener">http://www.planalto.gov.br/ccivil_03/leis/l9648cons.htm</a>
          </p>
          <p><strong>LEI Nº 10.848, DE 15 DE MARÇO DE 2004.</strong> Dispõe sobre a comercialização de energia elétrica,
            altera as Leis nºs 5.655, de 20 de maio de 1971, 8.631, de 4 de março de 1993, 9.074, de 7 de julho de 1995,
            9.427, de 26 de dezembro de 1996, 9.478, de 6 de agosto de 1997, 9.648, de 27 de maio de 1998, 9.991, de 24
            de julho de 2000, 10.438, de 26 de abril de 2002, e dá outras providências.<br />
            <strong>Fonte:</strong> <a href="http://www.planalto.gov.br/ccivil_03/_ato2004-2006/2004/lei/l10.848.htm"
              target="_blank" rel="noopener">http://www.planalto.gov.br/ccivil_03/_ato2004-2006/2004/lei/l10.848.htm</a>
          </p>
          <p><strong>LEI Nº 10.762, DE 11 DE NOVEMBRO DE 2003.</strong> Dispõe sobre a criação do Programa Emergencial e
            Excepcional de Apoio às Concessionárias de Serviços Públicos de Distribuição de Energia Elétrica, altera as
            Leis nºs 8.631, de 4 de março de 1993, 9.427, de 26 de dezembro de 1996, 10.438, de 26 de abril de 2002, e
            dá outras providências.<br />
            <strong>Fonte:</strong> <a href="http://www.planalto.gov.br/ccivil_03/LEIS/2003/L10.762.htm" target="_blank"
              rel="noopener">http://www.planalto.gov.br/ccivil_03/LEIS/2003/L10.762.htm</a>
          </p>
          <p><strong>LEI Nº 10.438, DE 26 DE ABRIL DE 2002.</strong> Dispõe sobre a expansão da oferta de energia
            elétrica emergencial, recomposição tarifária extraordinária, cria o Programa de Incentivo às Fontes
            Alternativas de Energia Elétrica (Proinfa), a Conta de Desenvolvimento Energético (CDE), dispõe sobre a
            universalização do serviço público de energia elétrica, dá nova redação às Leis nºs 9.427, de 26 de dezembro
            de 1996, nº 9.648, de 27 de maio de 1998, nº 3.890-A, de 25 de abril de 1961, nº 5.655, de 20 de maio de
            1971, nº 5.899, de 5 de julho de 1973, nº 9.991, de 24 de julho de 2000, e dá outras providências.<br />
            <strong>Fonte:</strong> <a href="http://www.planalto.gov.br/ccivil_03/leis/2002/l10438.htm" target="_blank"
              rel="noopener">http://www.planalto.gov.br/ccivil_03/leis/2002/l10438.htm</a>
          </p>
          <p><strong>LEI Nº 9.991, DE 24 DE JULHO DE 2000.</strong> Dispõe sobre realização de investimentos em pesquisa
            e desenvolvimento e em eficiência energética por parte das empresas concessionárias, permissionárias e
            autorizadas do setor de energia elétrica, e dá outras providências.<br />
            <strong>Fonte:</strong> <a href="http://www.planalto.gov.br/ccivil_03/leis/l9991.htm" target="_blank"
              rel="noopener">http://www.planalto.gov.br/ccivil_03/leis/l9991.htm</a>
          </p>
          <p><strong>LEI Nº 9.648, DE 27 DE MAIO DE 1998.</strong> Altera dispositivos das Leis nº 3.890-A, de 25 de
            abril de 1961, nº 8.666, de 21 de junho de 1993, nº 8.987, de 13 de fevereiro de 1995, nº 9.074, de 7 de
            julho de 1995, nº 9.427, de 26 de dezembro de 1996, e autoriza o Poder Executivo a promover a reestruturação
            da Centrais Elétricas Brasileiras – ELETROBRÁS e de suas subsidiárias e dá outras providências.<br />
            <strong>Fonte:</strong> <a href="http://www.planalto.gov.br/ccivil_03/leis/l9648cons.htm" target="_blank"
              rel="noopener">http://www.planalto.gov.br/ccivil_03/leis/l9648cons.htm</a>
          </p>
          <p><strong>LEI Nº 9.427, DE 26 DE DEZEMBRO DE 1996.</strong> Institui a Agência Nacional de Energia Elétrica –
            ANEEL, disciplina o regime das concessões de serviços públicos de energia elétrica e dá outras
            providências.<br />
            <strong>Fonte:</strong> <a href="http://www.planalto.gov.br/ccivil_03/leis/l9427cons.htm" target="_blank"
              rel="noopener">http://www.planalto.gov.br/ccivil_03/leis/l9427cons.htm</a>
          </p>
          <p><strong>DECRETO Nº 6.048, DE 27 DE FEVEREIRO DE 2007.</strong> Altera os arts. 11, 19, 27, 34 e 36 do
            Decreto no 5.163, de 30 de julho de 2004, que regulamenta a comercialização de energia elétrica, o processo
            de outorga de concessões e de autorizações de geração de energia elétrica.<br />
            <strong>Fonte:</strong> <a href="http://www.planalto.gov.br/ccivil_03/_Ato2007-2010/2007/Decreto/D6048.htm"
              target="_blank"
              rel="noopener">http://www.planalto.gov.br/ccivil_03/_Ato2007-2010/2007/Decreto/D6048.htm</a>
          </p>
          <p><strong>DECRETO Nº 3.520, DE 21 DE JUNHO DE 2000.</strong> Dispõe sobre a estrutura e o funcionamento do
            Conselho Nacional de Política Energética – CNPE e dá outras providências.<br />
            <strong>Fonte:</strong> <a href="http://www.planalto.gov.br/ccivil_03/decreto/D3520compilado.htm"
              target="_blank" rel="noopener">http://www.planalto.gov.br/ccivil_03/decreto/D3520compilado.htm</a>
          </p>
          <p><strong>DECRETO Nº 2.335, DE 6 DE OUTUBRO DE 1997.</strong> Constitui a Agência Nacional de Energia
            Elétrica -ANEEL, autarquia sob regime especial, aprova sua Estrutura Regimental e o Quadro Demonstrativo dos
            Cargos em Comissão e Funções de Confiança e dá outras providências.<br />
            <strong>Fonte:</strong> <a href="http://www.planalto.gov.br/ccivil_03/decreto/d2335.HTM" target="_blank"
              rel="noopener">http://www.planalto.gov.br/ccivil_03/decreto/d2335.HTM</a>
          </p>
          <p><strong>DECRETO Nº 2.003, DE 10 DE SETEMBRO DE 1996.</strong> Regulamenta a produção de energia elétrica
            por Produtor Independente e por Autoprodutor e dá outras providências.<br />
            <strong>Fonte:</strong> <a href="http://www.planalto.gov.br/ccivil_03/decreto/d2003.htm" target="_blank"
              rel="noopener">http://www.planalto.gov.br/ccivil_03/decreto/d2003.htm</a>
          </p>
          <p><strong>DECRETO Nº 2.233, DE 23 DE MAIO DE 1997.</strong> Dispõe sobre os setores das atividades econômicas
            excluídos das restrições previstas no art. 39 da Lei nº 4.131, de 3 de setembro de 1962.<br />
            <strong>Fonte:</strong> <a href="http://www.planalto.gov.br/ccivil_03/decreto/1997/D2233.htm"
              target="_blank" rel="noopener">http://www.planalto.gov.br/ccivil_03/decreto/1997/D2233.htm</a>
          </p>
          <p><strong>DECRETO Nº 8.957, DE 16 DE JANEIRO DE 2017.</strong> Altera o Decreto nº 2.233, de 23 de maio de
            1997, que dispõe sobre os setores das atividades econômicas excluídos das restrições previstas no art. 39 da
            Lei nº 4.131, de 3 de setembro de 1962.<br />
            <strong>Fonte:</strong> <a href="http://www.planalto.gov.br/ccivil_03/_Ato2015-2018/2017/Decreto/D8957.htm"
              target="_blank"
              rel="noopener">http://www.planalto.gov.br/ccivil_03/_Ato2015-2018/2017/Decreto/D8957.htm</a>
          </p>
          <p><strong>DECRETO DE 27 DE DEZEMBRO DE 1994.</strong> Cria o Programa de Desenvolvimento Energético dos
            Estados e Municípios – PRODEEM,e dá outras providências.<br />
            <strong>Fonte:</strong> <a
              href="http://www.planalto.gov.br/ccivil_03/dnn/anterior%20a%202000/1994/dnn2793.htm" target="_blank"
              rel="noopener">http://www.planalto.gov.br/ccivil_03/dnn/anterior%20a%202000/1994/dnn2793.htm</a>
          </p>
        </div>
      </ion-col>
      <ion-col>
        <div class="aside">
          <ion-row>
            <ion-button fill="clear" [routerLink]="['/onboarding']">EVENTOS</ion-button>
          </ion-row>
          <ion-row>
            <ion-button fill="clear" [routerLink]="['/onboarding']">PUBLICAÇÕES</ion-button>
          </ion-row>
          <ion-row>
            <ion-button fill="clear" [routerLink]="['/onboarding']"> AGENDA
            </ion-button>
          </ion-row>
          <ion-row>
            <ion-button fill="clear" [routerLink]="['/onboarding']"> GALERIA DE FOTOS
            </ion-button>
          </ion-row>
          <ion-row>
            <ion-button fill="clear" [routerLink]="['/onboarding']"> TRABALHE CONOSCO
            </ion-button>
          </ion-row>
        </div>
      </ion-col>
    </ion-grid>
  </ion-row>
</ion-content>