  <ion-header class="header-header">

  <div [routerLink]="['/login']">
    <ion-icon name="person"></ion-icon>
    <ion-label class="label-header">Login</ion-label>
  </div>
  |
  <div style="padding-left: 15px;" [routerLink]="['/signup']">
    <ion-icon name="pencil"></ion-icon>
    <ion-label>Cadastro</ion-label>
  </div>


</ion-header>

<ion-header class="header">


  <ion-img style="max-width: 10%;" src="../../../assets/images/coopere.png"></ion-img>



  <ion-button fill="clear" [routerLink]="['/onboarding']">Home</ion-button>

  <div class="dropdown">
    <a href="#">A COOPEERE</a>
    <div class="dropdown-content">
      <a [routerLink]="['/quemsomos']" class="dropdown-item">Quem Somos?</a>
      <a [routerLink]="['/objetivos']" class="dropdown-item">Objetivo</a>
      <a [routerLink]="['/equipe']" class="dropdown-item">A Equipe</a>
    </div>
  </div>

  <ion-button fill="clear" class="Legislação" [routerLink]="['/legislacao']">Legislação</ion-button>
  <ion-button fill="clear" class="Estatuto" [routerLink]="['/estatuto']">Estatuto</ion-button>
  <ion-button fill="clear" class="Vantagens" [routerLink]="['/vantagens']">Vantagens</ion-button>
  <ion-button fill="clear" class="Parceiros" [routerLink]="['/parceiros']">Parceiros</ion-button>
  <ion-button fill="clear" class="Fale Conosco" [routerLink]="['/faleconosco']">Fale Conosco</ion-button>

</ion-header>


<ion-content>
<!-- <div class="text-container" style="margin-top: 200px;  display: inline-block; width: 50%;"> -->
  <div class="text-container">

    <h1>Parceiros</h1>

    <p>“Nossos futuros parceiros serão divulgados aqui. Aguardem!”</p>

  </div>
  <!--  <div class="aside" style="display: inline-block; width: 50%;"> -->
  <div class="aside">
    <ul>
      <li>
        <ion-button fill="clear" [routerLink]="['/onboarding']">EVENTOS</ion-button>
      </li>
      <li>

        <ion-button fill="clear" [routerLink]="['/onboarding']">PUBLICAÇÕES</ion-button>
      </li>
      <li>

        <ion-button fill="clear" [routerLink]="['/onboarding']"> AGENDA
        </ion-button>
      </li>
      <li>

        <ion-button fill="clear" [routerLink]="['/onboarding']"> GALERIA DE FOTOS
        </ion-button>
      </li>
      <li>

        <ion-button fill="clear" [routerLink]="['/onboarding']"> TRABALHE CONOSCO
        </ion-button>
      </li>
    </ul>

  </div>


</ion-content>