/*ion-content {
    --ion-background-color: white;
    display: flex;
}

.aside {
    width: auto;
    height: auto;
    background-color: #ccc;
    margin-bottom: 10px;
    border: 1px solid blue;
    flex-direction: column;

  }

.text-container p {
    line-height: 2.0;
}

.text-container {
    flex-direction: column;
    width: auto;
    height: auto;
    background-color: #ccc;
    margin-bottom: 10px;
    border: 1px solid red;
}*/


ion-content {
    --ion-background-color: white;
    display: flex;
}
ion-grid{
    --ion-background-color: white;
    flex-direction: row; 
    //border: 15px blueviolet solid;
}
ion-row aside{
    width: 70%;
    float: right;
    list-style: none;
    color: blue;
}
ion-grid{
    --ion-grid-columns: 2;
}

  .text-container p {
    line-height: 2.0;
}

.text-container {
    width: 70%;
    float: left;
    padding-left: 100px;
    padding-top: 100px;
    //border: 15px red solid;
}

h1,
h2,
h3,
p,
li,
ul {
    color: black;
}

.header-header {
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: green;
}

.label-header {
    padding-right: 10px;
    padding-left: 10px;
}

.header {
    padding: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;

}



.lista-dropdown {
    border-radius: 20px;
    padding-right: 10px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}