<ion-header class="header-header">

  <div [routerLink]="['/login']">
    <ion-icon name="person"></ion-icon>
    <ion-label class="label-header">Login</ion-label>
  </div>
  |
  <div style="padding-left: 15px;" [routerLink]="['/signup']">
    <ion-icon name="pencil"></ion-icon>
    <ion-label>Cadastro</ion-label>
  </div>


</ion-header>

<ion-header class="header">


  <ion-img style="max-width: 10%;" src="../../../assets/images/coopere.png"></ion-img>



  <ion-button fill="clear" [routerLink]="['/onboarding']">Home</ion-button>

  <div class="dropdown">
    <a href="#">A COOPEERE</a>
    <div class="dropdown-content">
      <a [routerLink]="['/quemsomos']" class="dropdown-item">Quem Somos?</a>
      <a [routerLink]="['/objetivos']" class="dropdown-item">Objetivo</a>
      <a [routerLink]="['/equipe']" class="dropdown-item">A Equipe</a>
    </div>
  </div>

  <ion-button fill="clear" [routerLink]="['/estatuto']">Estatuto</ion-button>
  <ion-button fill="clear" [routerLink]="['/legislacao']">Legislação</ion-button>
  <ion-button fill="clear" [routerLink]="['/vantagens']">Vantagens</ion-button>
  <ion-button fill="clear" [routerLink]="['/parceiros']">Parceiros</ion-button>
  <ion-button fill="clear" [routerLink]="['/faleconosco']">Fale Conosco</ion-button>

</ion-header>

  <ion-content>
    <ion-row>
    <ion-grid>
      <ion-col>
        <div class="text-container">

          <h1>Vantagens</h1>
  
          <p>Cooperar significa unir forças para alcançar propósitos maiores. Essa é a ideia central do cooperativismo. O
            modelo baseia-se no esforço e nos benefícios comuns, podendo ser considerado como uma alternativa mais
            democrática, humanitária e sustentável.</p>
          <p>Cooperando, certamente é possível ganhar mais força, mais escala e mais apoio para a realização de objetivos
            comuns entre os cooperados. Além disso, há outras vantagens em associar-se a uma cooperativa. Confira:</p>
          <p>&nbsp;</p>
          <h3>1 – Você é um dos donos do negócio.</h3>
          <p>Em uma cooperativa, você não é apenas um cliente. É um dos donos. Você participa de todas as decisões, da
            política operacional à precificação. A gestão é democrática e transparente.<br />
            Qualquer pessoa interessada em utilizar seus serviços pode ingressar numa cooperativa, desde que o faça de
            forma
            livre e espontânea, e esteja disposta a aceitar as responsabilidades da sociedade.</p>
          <p>Como associado da cooperativa, o cooperado pode participar de sua gestão, sugerindo, opinando, denunciando
            falhas, propondo soluções e defendendo suas ideias.</p>
          <p>&nbsp;</p>
          <h3>2 – Todos têm o mesmo poder de voto.</h3>
          <p>Cooperativas são geridas democraticamente por todos os seus associados. Todos os associados têm igual direito
            de
            voto em uma cooperativa (um sócio = um voto).</p>
          <p>O poder de decisão não está vinculado a posses nem a ações. É igualitário, entre todos. Todos podem
            acompanhar as
            políticas e a evolução da instituição, participando de todas as decisões.</p>
          <p>&nbsp;</p>
          <h3>3 – Taxas menores, vantagens maiores.</h3>
          <p>Enquanto o capitalismo busca o lucro individual, o cooperativismo busca vantagens comuns para todo o grupo.
            Alguns exemplos:</p>
          <p><strong>– Em uma cooperativa de geração de energia eólica,</strong> nosso caso, os cooperados passam a pagar
            somente taxa mínima as Distribuidoras de energia e dividem entre seus milhares de cooperados os custos da
            instalação e dos equipamentos na forma de energia consumida, ou seja, a medida que usa a energia produzida
            pela
            cooperativa, estará pagando pelas instalações e pelos equipamentos comprados pela cooperativa, poderá optar
            pela
            compra de cotas de energia mensais alterando de acordo com seu consumo, e havendo sobras, terá 5 anos para
            utilizar em sua residência ou negócio próprio no mesmo nome do cooperado. Saiba mais:
            https://www.way2.com.br/blog/geracao-distribuida/</p>
          <p><strong>– Em uma cooperativa de crédito,</strong> os associados têm acesso a taxas bem menores (comparadas a
            bancos comuns) e ainda podem receber sobras anuais.</p>
          <p><strong>– Em uma cooperativa de produção,</strong> a vantagem é o ganho de escala, que propicia melhores
            negociações.</p>
          <p><strong>– Em uma cooperativa de consumo,</strong> a vantagem vem em forma de descontos na compra de produtos
            de
            boa qualidade para todos.</p>
          <p><strong>– Em uma cooperativa de trabalho,</strong> a vantagem pode ser, por exemplo, a conquista de um espaço
            de
            co-working para todos os cooperados. E assim por diante.</p>
          <p>&nbsp;</p>
          <h3>4 – Você recebe uma parte dos resultados.</h3>
          <p><strong>Como uma cooperativa não visa lucros,</strong> quando há sobras, elas são repartidas entre todos os
            associados, conforme a participação de cada um nas atividades da instituição.</p>
          <p><strong>Em uma cooperativa financeira,</strong> por exemplo, mesmo com taxas menores e produtos e serviços
            mais
            baratos, caso a instituição arrecade mais do que precisou para cobrir seus custos, ao final do ano, as sobras
            não
            reinvestidas são distribuídas a todos os associados, conforme suas respectivas participações.</p>
          <p>&nbsp;</p>
          <h3>5 – A comunidade também sai ganhando.</h3>
          <p><strong>De acordo com o princípio</strong> do Interesse pela Comunidade (um dos 7 princípios do
            cooperativismo),
            as cooperativas têm um compromisso com o desenvolvimento de sua região; devem respeitar as peculiaridades
            sociais
            e a vocação econômica do local, desenvolvendo soluções de negócios e apoiando ações humanitárias e sócio
            ambientalmente sustentáveis, voltadas ao desenvolvimento da comunidade onde estão instaladas.</p>
          <p><strong>As cooperativas de crédito,</strong> por exemplo, retêm os recursos financeiros na sua área de
            atuação
            (cidade, comunidade). Assim, favorecem a democratização do crédito e a desconcentração de renda, promovendo
            uma
            verdadeira irrigação da economia local e beneficiando a comunidade.</p>
        </div>
      </ion-col>
      <ion-col>
        <div class="aside">
          <ion-row>
            <ion-button fill="clear" [routerLink]="['/onboarding']">EVENTOS</ion-button>
          </ion-row>
          <ion-row>
            <ion-button fill="clear" [routerLink]="['/onboarding']">PUBLICAÇÕES</ion-button>
          </ion-row>
          <ion-row>
            <ion-button fill="clear" [routerLink]="['/onboarding']"> AGENDA
            </ion-button>
          </ion-row>
          <ion-row>
            <ion-button fill="clear" [routerLink]="['/onboarding']"> GALERIA DE FOTOS
            </ion-button>
          </ion-row>
          <ion-row>
            <ion-button fill="clear" [routerLink]="['/onboarding']"> TRABALHE CONOSCO
            </ion-button>
          </ion-row>
        </div>
      </ion-col>
    </ion-grid>
  </ion-row>
</ion-content>


<!--
<ion-content>
  <ion-grid>
    <ion-col>
      <div class="text-container">

        <h1>Vantagens</h1>

        <p>Cooperar significa unir forças para alcançar propósitos maiores. Essa é a ideia central do cooperativismo. O
          modelo baseia-se no esforço e nos benefícios comuns, podendo ser considerado como uma alternativa mais
          democrática, humanitária e sustentável.</p>
        <p>Cooperando, certamente é possível ganhar mais força, mais escala e mais apoio para a realização de objetivos
          comuns entre os cooperados. Além disso, há outras vantagens em associar-se a uma cooperativa. Confira:</p>
        <p>&nbsp;</p>
        <h3>1 – Você é um dos donos do negócio.</h3>
        <p>Em uma cooperativa, você não é apenas um cliente. É um dos donos. Você participa de todas as decisões, da
          política operacional à precificação. A gestão é democrática e transparente.<br />
          Qualquer pessoa interessada em utilizar seus serviços pode ingressar numa cooperativa, desde que o faça de
          forma
          livre e espontânea, e esteja disposta a aceitar as responsabilidades da sociedade.</p>
        <p>Como associado da cooperativa, o cooperado pode participar de sua gestão, sugerindo, opinando, denunciando
          falhas, propondo soluções e defendendo suas ideias.</p>
        <p>&nbsp;</p>
        <h3>2 – Todos têm o mesmo poder de voto.</h3>
        <p>Cooperativas são geridas democraticamente por todos os seus associados. Todos os associados têm igual direito
          de
          voto em uma cooperativa (um sócio = um voto).</p>
        <p>O poder de decisão não está vinculado a posses nem a ações. É igualitário, entre todos. Todos podem
          acompanhar as
          políticas e a evolução da instituição, participando de todas as decisões.</p>
        <p>&nbsp;</p>
        <h3>3 – Taxas menores, vantagens maiores.</h3>
        <p>Enquanto o capitalismo busca o lucro individual, o cooperativismo busca vantagens comuns para todo o grupo.
          Alguns exemplos:</p>
        <p><strong>– Em uma cooperativa de geração de energia eólica,</strong> nosso caso, os cooperados passam a pagar
          somente taxa mínima as Distribuidoras de energia e dividem entre seus milhares de cooperados os custos da
          instalação e dos equipamentos na forma de energia consumida, ou seja, a medida que usa a energia produzida
          pela
          cooperativa, estará pagando pelas instalações e pelos equipamentos comprados pela cooperativa, poderá optar
          pela
          compra de cotas de energia mensais alterando de acordo com seu consumo, e havendo sobras, terá 5 anos para
          utilizar em sua residência ou negócio próprio no mesmo nome do cooperado. Saiba mais:
          https://www.way2.com.br/blog/geracao-distribuida/</p>
        <p><strong>– Em uma cooperativa de crédito,</strong> os associados têm acesso a taxas bem menores (comparadas a
          bancos comuns) e ainda podem receber sobras anuais.</p>
        <p><strong>– Em uma cooperativa de produção,</strong> a vantagem é o ganho de escala, que propicia melhores
          negociações.</p>
        <p><strong>– Em uma cooperativa de consumo,</strong> a vantagem vem em forma de descontos na compra de produtos
          de
          boa qualidade para todos.</p>
        <p><strong>– Em uma cooperativa de trabalho,</strong> a vantagem pode ser, por exemplo, a conquista de um espaço
          de
          co-working para todos os cooperados. E assim por diante.</p>
        <p>&nbsp;</p>
        <h3>4 – Você recebe uma parte dos resultados.</h3>
        <p><strong>Como uma cooperativa não visa lucros,</strong> quando há sobras, elas são repartidas entre todos os
          associados, conforme a participação de cada um nas atividades da instituição.</p>
        <p><strong>Em uma cooperativa financeira,</strong> por exemplo, mesmo com taxas menores e produtos e serviços
          mais
          baratos, caso a instituição arrecade mais do que precisou para cobrir seus custos, ao final do ano, as sobras
          não
          reinvestidas são distribuídas a todos os associados, conforme suas respectivas participações.</p>
        <p>&nbsp;</p>
        <h3>5 – A comunidade também sai ganhando.</h3>
        <p><strong>De acordo com o princípio</strong> do Interesse pela Comunidade (um dos 7 princípios do
          cooperativismo),
          as cooperativas têm um compromisso com o desenvolvimento de sua região; devem respeitar as peculiaridades
          sociais
          e a vocação econômica do local, desenvolvendo soluções de negócios e apoiando ações humanitárias e sócio
          ambientalmente sustentáveis, voltadas ao desenvolvimento da comunidade onde estão instaladas.</p>
        <p><strong>As cooperativas de crédito,</strong> por exemplo, retêm os recursos financeiros na sua área de
          atuação
          (cidade, comunidade). Assim, favorecem a democratização do crédito e a desconcentração de renda, promovendo
          uma
          verdadeira irrigação da economia local e beneficiando a comunidade.</p>
      </div>
    </ion-col>
    <ion-col>
      <div class="aside">
        <ion-row>
          <ion-button fill="clear" [routerLink]="['/onboarding']">EVENTOS</ion-button>
        </ion-row>
        <ion-row>
          <ion-button fill="clear" [routerLink]="['/onboarding']">PUBLICAÇÕES</ion-button>
        </ion-row>
        <ion-row>
          <ion-button fill="clear" [routerLink]="['/onboarding']"> AGENDA
          </ion-button>
        </ion-row>
        <ion-row>
          <ion-button fill="clear" [routerLink]="['/onboarding']"> GALERIA DE FOTOS
          </ion-button>
        </ion-row>
        <ion-row>
          <ion-button fill="clear" [routerLink]="['/onboarding']"> TRABALHE CONOSCO
          </ion-button>
        </ion-row>
      </div>
    </ion-col>
  </ion-grid>
</ion-content>

<ion-content>
  <ion-row>
    <ion-grid style="--ion-grid-columns: 4;">
      <ion-col>
        <div class="text-container">

          <h1>Vantagens</h1>

          <p>Cooperar significa unir forças para alcançar propósitos maiores. Essa é a ideia central do cooperativismo.
            O
            modelo baseia-se no esforço e nos benefícios comuns, podendo ser considerado como uma alternativa mais
            democrática, humanitária e sustentável.</p>
          <p>Cooperando, certamente é possível ganhar mais força, mais escala e mais apoio para a realização de
            objetivos
            comuns entre os cooperados. Além disso, há outras vantagens em associar-se a uma cooperativa. Confira:</p>
          <p>&nbsp;</p>
          <h3>1 – Você é um dos donos do negócio.</h3>
          <p>Em uma cooperativa, você não é apenas um cliente. É um dos donos. Você participa de todas as decisões, da
            política operacional à precificação. A gestão é democrática e transparente.<br />
            Qualquer pessoa interessada em utilizar seus serviços pode ingressar numa cooperativa, desde que o faça de
            forma
            livre e espontânea, e esteja disposta a aceitar as responsabilidades da sociedade.</p>
          <p>Como associado da cooperativa, o cooperado pode participar de sua gestão, sugerindo, opinando, denunciando
            falhas, propondo soluções e defendendo suas ideias.</p>
          <p>&nbsp;</p>
          <h3>2 – Todos têm o mesmo poder de voto.</h3>
          <p>Cooperativas são geridas democraticamente por todos os seus associados. Todos os associados têm igual
            direito
            de
            voto em uma cooperativa (um sócio = um voto).</p>
          <p>O poder de decisão não está vinculado a posses nem a ações. É igualitário, entre todos. Todos podem
            acompanhar as
            políticas e a evolução da instituição, participando de todas as decisões.</p>
          <p>&nbsp;</p>
          <h3>3 – Taxas menores, vantagens maiores.</h3>
          <p>Enquanto o capitalismo busca o lucro individual, o cooperativismo busca vantagens comuns para todo o grupo.
            Alguns exemplos:</p>
          <p><strong>– Em uma cooperativa de geração de energia eólica,</strong> nosso caso, os cooperados passam a
            pagar
            somente taxa mínima as Distribuidoras de energia e dividem entre seus milhares de cooperados os custos da
            instalação e dos equipamentos na forma de energia consumida, ou seja, a medida que usa a energia produzida
            pela
            cooperativa, estará pagando pelas instalações e pelos equipamentos comprados pela cooperativa, poderá optar
            pela
            compra de cotas de energia mensais alterando de acordo com seu consumo, e havendo sobras, terá 5 anos para
            utilizar em sua residência ou negócio próprio no mesmo nome do cooperado. Saiba mais:
            https://www.way2.com.br/blog/geracao-distribuida/</p>
          <p><strong>– Em uma cooperativa de crédito,</strong> os associados têm acesso a taxas bem menores (comparadas
            a
            bancos comuns) e ainda podem receber sobras anuais.</p>
          <p><strong>– Em uma cooperativa de produção,</strong> a vantagem é o ganho de escala, que propicia melhores
            negociações.</p>
          <p><strong>– Em uma cooperativa de consumo,</strong> a vantagem vem em forma de descontos na compra de
            produtos
            de
            boa qualidade para todos.</p>
          <p><strong>– Em uma cooperativa de trabalho,</strong> a vantagem pode ser, por exemplo, a conquista de um
            espaço
            de
            co-working para todos os cooperados. E assim por diante.</p>
          <p>&nbsp;</p>
          <h3>4 – Você recebe uma parte dos resultados.</h3>
          <p><strong>Como uma cooperativa não visa lucros,</strong> quando há sobras, elas são repartidas entre todos os
            associados, conforme a participação de cada um nas atividades da instituição.</p>
          <p><strong>Em uma cooperativa financeira,</strong> por exemplo, mesmo com taxas menores e produtos e serviços
            mais
            baratos, caso a instituição arrecade mais do que precisou para cobrir seus custos, ao final do ano, as
            sobras
            não
            reinvestidas são distribuídas a todos os associados, conforme suas respectivas participações.</p>
          <p>&nbsp;</p>
          <h3>5 – A comunidade também sai ganhando.</h3>
          <p><strong>De acordo com o princípio</strong> do Interesse pela Comunidade (um dos 7 princípios do
            cooperativismo),
            as cooperativas têm um compromisso com o desenvolvimento de sua região; devem respeitar as peculiaridades
            sociais
            e a vocação econômica do local, desenvolvendo soluções de negócios e apoiando ações humanitárias e sócio
            ambientalmente sustentáveis, voltadas ao desenvolvimento da comunidade onde estão instaladas.</p>
          <p><strong>As cooperativas de crédito,</strong> por exemplo, retêm os recursos financeiros na sua área de
            atuação
            (cidade, comunidade). Assim, favorecem a democratização do crédito e a desconcentração de renda, promovendo
            uma
            verdadeira irrigação da economia local e beneficiando a comunidade.</p>
        </div>
      </ion-col>
      <ion-col>
        <div class="aside">
          <ion-row>
            <ion-button fill="clear" [routerLink]="['/onboarding']">EVENTOS</ion-button>
          </ion-row>
          <ion-row>
            <ion-button fill="clear" [routerLink]="['/onboarding']">PUBLICAÇÕES</ion-button>
          </ion-row>
          <ion-row>
            <ion-button fill="clear" [routerLink]="['/onboarding']"> AGENDA
            </ion-button>
          </ion-row>
          <ion-row>
            <ion-button fill="clear" [routerLink]="['/onboarding']"> GALERIA DE FOTOS
            </ion-button>
          </ion-row>
          <ion-row>
            <ion-button fill="clear" [routerLink]="['/onboarding']"> TRABALHE CONOSCO
            </ion-button>
          </ion-row>
        </div>
      </ion-col>
    </ion-grid>
  -->





<!-- molde do zero
  <ion-content>
    <ion-row>
    <ion-grid style="--ion-grid-columns: 2;">
      <ion-col>
        <div class="text-container">
          <h1>Outra Grade</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </ion-col>
      <ion-col>
        <div class="aside">
          <ion-row>
            <ion-button fill="clear" [routerLink]="['/onboarding']">BOTÃO 1</ion-button>
          </ion-row>
          <ion-row>
            <ion-button fill="clear" [routerLink]="['/onboarding']">BOTÃO 2</ion-button>
          </ion-row>
          <ion-row>
            <ion-button fill="clear" [routerLink]="['/onboarding']">BOTÃO 3
            </ion-button>
          </ion-row>
        </div>
      </ion-col>
    </ion-grid>
  </ion-row>
</ion-content>
-->