/* meu cod antigo
.header {
    //border: darkblue 5px solid;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 45px 0px 0px 400px;
    background-color: white;
    word-spacing: 100px;
}

ion-header {
    display: absolute;
    -ms-flex-order: 0;
    order: 0;
    width: 100%;
    z-index: 0;

}


h3,
h2,
p,
li,
ul {
    color: black;
    font-style: none;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h1 {
    color: #020101BA;
    font-size: 30px;
    font-weight: 300px;
    font-family: "Open Sans", Sans-serif;
}

//.label-header {
//    padding-right: 10px;
//    padding-left: 40px;
//}
// NÃO MAIS NECESSARIO POR CAUSA DO 
//     justify-content: center

.header-header {
    //border: burlywood 5px solid;
    background-color: #2b571a;
    display: flex;
    justify-content: flex-end;
    padding-right: 400px;
    padding-top: 5px;
    padding-bottom: 5px;

}



ion-content {
    //border: orchid 50px solid;
    --ion-background-color: white;
    display: flex;
}

.text-container p {
    //border: blue 5px solid;
    line-height: 5.0;
    font-family: "Open Sans", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8em;

}

.text-container {
    //border: purple 5px solid;
    width: 50%;
    float: left;
    padding-top: 100px;
    padding-left: 400px;
    padding-bottom: 0px;
    margin-top: 0px;
}

.aside {
    //border: red 1px solid;
    margin-top: 70px;
    //margin-left: 1px;
    width: 50%;
    float: right;
    padding: 0;
}

.aside li {
    //border: #750000 1px solid;
    margin-left: 100px;
    font-size: 100%;
    list-style: none;
    color: black;
}

.lista-dropdown {
    border-radius: 20px;
    padding-right: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

ion-button:hover {
    border-bottom: solid 5px green;
    color: #2b571a;
}
*/

//ADICIONEI ESSAS LINHAS DE CSS ABAIXO 
//PARA NÃO SOBREESCREVER O QUE JÁ TINHA E MOSTRAR O QUE EU FIZ
/*
.header {
    position: absolute;
    top: 25px;

    &::after {
        display: none;
    }

    .dropdown {}

    .dropdown-content {
        min-width: 133px;

    }

    .dropdown-item {
        display: block;
        height: 50px;
        padding: 20px;
        transition: .4s;

        &::before {
            content: none;
        }

        &:hover {
            color: white;
            background-color: #7B9A6E;
            border: none;
        }
    }

    .arrowicon {}

    a {
        text-decoration: none;
        margin: 0;
        padding: 0;
        margin: 20px;
        display: inline-block;
    }

    ion-button {
        cursor: pointer;
    }

    ion-button,
    a {
        display: block;
        margin: 0;
        position: relative;
        color: #2a302f;
        white-space: nowrap;
        font-size: 14px;
        font-family: "Open Sans", Sans-serif;
        font-weight: 00;
        padding: 0px 5px 0px 5px;
        padding-bottom: 35px;
        border-bottom: 5px solid transparent;
        height: 65px;
        transition: .4s;

        &:hover {
            color: #7B9A6E;

        }

        &::before {
            content: '';
            position: absolute;
            top: 60px;
            width: 0;
            right: 0;
            bottom: 0;
            height: 5px;
            background: #2B571A;
            transition: width .2s;

        }

        &:hover::before {
            width: 100%;
        }
    }
    .active-link:before {

        width: 100%;
        color: #7B9A6E;
    }
}
*/
.header {
    //border: darkblue 5px solid;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 45px 0px 0px 400px;
    background-color: white;
    word-spacing: 1px;


    &::after {
        display: none;
    }

    .dropdown {}

    .dropdown-content {
        min-width: 133px;

    }

    .dropdown-item {
        display: block;
        height: 50px;
        padding: 20px;
        transition: .4s;

        &::before {
            content: none;
        }

        &:hover {
            color: white;
            background-color: #7B9A6E;
            border: none;
        }
    }

    .arrowicon {}

    a {
        text-decoration: none;
        margin: 0;
        padding: 0;
        margin: 20px;
        display: inline-block;
    }

    ion-button {
        cursor: pointer;
        border-bottom: solid 5px green;
        color: #2b571a;
    }

    


    ion-button,
    a {
        
        cursor: pointer;
        display: block;
        margin: 0;
        position: relative;
        color: #333;
        white-space: nowrap;
        font-size: 14px;
        font-family: "Open Sans", Sans-serif;
        font-weight: 500;
        padding: 40px 5px;
        border-bottom: 5px solid transparent;
        height: 112px;
        transition: .4s;

        &:hover {
            color: #7B9A6E;

        }

        &::before {
            content: '';
            position: absolute;
            bottom: 0px;
            width: 0;
            right: 0;
            height: 5px;
            background: #2B571A;
            transition: width .2s;

        }

        &:hover::before {
            width: 100%;
        }
    }

    .active-link:before {

        width: 100%;
        color: #7B9A6E;

    }

    .search {
        font-size: 25px;
        color: #2B571A;
        cursor: pointer;

    }

    .arrowicon {
        position: relative;
        top: 5px;
    }
}

ion-header {
    display: absolute;
    -ms-flex-order: 0;
    order: 0;
    width: 100%;
    z-index: 0;

}


h3,
h2,
p,
li,
ul {
    color: black;
    font-style: none;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h1 {
    color: #020101BA;
    font-size: 30px;
    font-weight: 300px;
    font-family: "Open Sans", Sans-serif;
}


//.label-header {
//    padding-right: 10px;
//    padding-left: 40px;
//}
// NÃO MAIS NECESSARIO POR CAUSA DO 
//     justify-content: center



.header-header {
    //border: burlywood 5px solid;
    background-color: #2b571a;
    display: flex;
    justify-content: flex-end;
    padding-right: 400px;
    padding-top: 5px;
    padding-bottom: 5px;

}

ion-content {
    //border: orchid 5px solid;
    --ion-background-color: white;
    display: flex;
}

.text-container p {
    //border: blue 10px solid;
    line-height: 5.0;
    font-family: "Open Sans", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8em;

}

.text-container {
    //border: purple 5px solid;
    width: 50%;
    float: left;
    padding-top: 80px;
    padding-left: 350px;
    padding-bottom: 0px;
    margin-top: 0px;
}

.aside {
    //border: red 5px solid;
    margin-top: 70px;
    //margin-right: 1px;
    width: 50%;
    float: right;
    padding: 0;
    padding: 13px 20px;

}

.aside li {
    border: #750000 5px solid;
    margin-top: 10px;
    margin-left: 200px;
    font-size: 100%;
    list-style: none;
    color: black;
    margin-right: 500px;
    display: inline-block;


    a{
        text-decoration: none;
        margin: 0;
        padding: 0;
        margin: 20px;
        display: inline-block;
    }

    ion-button, a {

        cursor: pointer;
        display: block;
        margin: 0;
        position: relative;
        color: #333;
        white-space: nowrap;
        font-size: 14px;
        font-family: "Open Sans", Sans-serif;
        font-weight: 500;
        padding: 40px 5px;  
        border-bottom: 5px solid transparent;
        height: 112px;
        transition: .4s;

        &:hover {
            color: #7B9A6E;
            
        }

        &::before {
            content: '';
            position: absolute;
            bottom: 0px;
            width: 0;
            right: 0;
            height: 5px;
            background: #7B9A6E;
            transition: width .2s;

        }
        &:hover::before {
            width: 100%;
        }
    }

    .active-link:before {
        
        width: 100%;
        color: #7B9A6E;

    }
    .search{
        font-size: 25px;
        color: #2B571A;
        cursor: pointer;

    }
    .arrowicon{
        position: relative;
        top: 5px;
    }
}

.lista-dropdown {
    border-radius: 20px;
    padding-right: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}